.registrationButtons {
    border: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -50px;
    scale: 80%;
    background-color: transparent;
    cursor: pointer;
}

.registrationButtons:hover {
    filter: contrast(1.3) brightness(1.1);
}

.lgLoginButton {
    height: 70px;
    width: 184px;
    margin-left: 500px;
}

.lgSignupBtn {
    height: 70px;
    width: 238px;
    margin-left: -10px;
}

.loginGraphics {
    margin: 20px 0px -30px 430px;
}

.scrollGraphics {
    margin: 20px 0px -30px 430px;
}

/* .regContainer {
    position: absolute;
    top: 170px;
    left: -200px;
} */

.signupFields {
    width: 300px;
    height: 40px;
    margin: -400px 0px 0px 540px;
    padding: 3px 5px 5px 5px;
    font-family: cursive;
    font-size: 16pt;
    background: none;
    font-weight: bold;
    text-align: center;
    border: none;
    border-color: transparent;
    border-radius: 10px;
    position: absolute;
    transform: rotate(-5deg);
}

.signupName {
    position: relative;
    top: -425px;
    left: -5px;

}

.signupEmail {
    position: relative;
    top: -340px;
    left: 0px;
}

.signupEmail2 {
    position: relative;
    top: -425px;
    left: -5px;
}

.signupPassword {
    position: relative;
    top: -255px;
    left: 5px;
}

.signupPassword2 {
    position: relative;
    top: -340px;
    left: 0px;
}

.enterButton {
    width: 150px;
    height: 50px;
    border: none;
    top: -235px;
    left: 630px;
    transform: rotate(-5deg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    cursor: pointer;
    position: relative;
}

.enterButton2 {
    top: -320px;
}

.enterButton:hover {
    filter: brightness(1.1) contrast(1.3);
}

.error{
    margin-left: 560px;
    margin-top: -300px;
    color: red;
    font-size: 20px;
    transform: rotate(-4deg);
}
.signup-error{
    margin-top: -160px;
    margin-left: 576px;
    transform: rotate(-1deg);
}
