@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');


:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #5c4825;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: transparent;

}
header .container {
  max-width: 1440px;
  margin: 0 auto;
  height: 60px;
  /* padding: 0px 20px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1440px;
  padding: 70px;
  margin: 0 auto;
}